.dashboard__container {
  width: 100%;
  margin-right: 2em;
  display: flex;
}
.dashboard__container__col {
  flex: 1;
  margin-right: 1em;
}
.dashboard__container__col:last-child {
  margin-right: 0em;
}
.user__statistics__card {
  background-color: white;
  padding: 2em;
  border-radius: 10px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.user__statistics__card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  padding: 0em 1em;
}
.user__statistics__card__header__heading {
  font-size: 18px;
  font-weight: bold;
  color: black;
}
.user__statistics__card__header__date {
  font-size: 12px;
  color: #7c828a;
}
.user__statistics__card__content {
  display: flex;
}
.user__statistics__card__content__left {
  width: 50%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.user__statistics__card__content__right {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2em;
}
.user__statistics__card__content__right__from {
  display: flex;
  align-items: center;
  color: black;
  font-size: 13px;
  margin: 0.5em 0em;
}
.user__statistics__card__content__right__from__dot {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  margin-right: 0.5em;
}
.stats__card {
  margin-top: 1em;
  width: 100%;
  height: 180px;
  position: relative;
  border-radius: 10px;
}
.stats__card__img {
  width: 110%;
}
.stats__card__content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2em;
  justify-content: flex-end;
}
.stats__card__content__heading {
  font-size: 14px;
  color: white;
}
.stats__card__content__value {
  font-size: 30px;
  font-weight: bold;
  color: white;
}
.monthly__stats__card {
  width: 100%;
  height: 142px;
  background-color: white;
  border-radius: 10px;
  margin-top: 1em;
  padding: 1.8em;
}
.monthly__stats__card:first-child {
  margin-top: 0em;
}
.monthly__stats__card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.monthly__stats__card__heading {
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.monthly__stats__card__sub__heading {
  font-size: 16px;
  color: #7c828a;
}
.monthly__stats__card__content__value {
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.monthly__stats__card__content {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.monthly__stats__card__bar {
  min-width: 70%;
  height: 15px;
  border-radius: 50px;
  background-color: #dbdbdb;
  position: relative;
  animation: 3s monthly__stats__card__bar;
}
.monthly__stats__card__bar__filled {
  height: 15px;
  border-radius: 50px;
  position: absolute;
  animation: 5s monthly__stats__card__bar__filled;
}
@keyframes monthly__stats__card__bar {
  from {
    min-width: 0px;
  }
  to {
    min-width: 70%;
  }
}
@keyframes monthly__stats__card__bar__filled {
  from {
    min-width: 0px;
  }
}
.recent__panel {
  width: 100%;
  background-color: white;
  padding: 1.5em;
  border-radius: 10px;
  max-height: 100%;
}
.recent__panel__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}
.recent__panel__header__button {
  width: 50%;
  position: relative;
}
.recent__panel__header__button__input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.recent__panel__header__button__content {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
}
.recent__panel__header__button__input:hover
  ~ .recent__panel__header__button__content,
.recent__panel__header__button__input:checked
  ~ .recent__panel__header__button__content {
  transition: 300ms ease-in-out;
  background-color: #d39844;
  color: white;
}
.recent__panel__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 770px;
  overflow-y: auto;
  padding-right: 0.5em;
}
.notification__panel__content::-webkit-scrollbar,
.table__details__container__text__box__input::-webkit-scrollbar,
.recent__panel__content::-webkit-scrollbar {
  width: 5px;
}
.notification__panel__content::-webkit-scrollbar-thumb,
.table__details__container__text__box__input::-webkit-scrollbar-thumb,
.recent__panel__content::-webkit-scrollbar-thumb {
  background-color: #242424;
  border-radius: 50px;
}
.notification__panel__content::-webkit-scrollbar-track,
.table__details__container__text__box__input::-webkit-scrollbar-track,
.recent__panel__content::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 50px;
}
.recent__panel__content__card {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  padding: 1em;
  border-radius: 10px;
  margin-bottom: 1em;
}
.recent__panel__content__card__img {
  width: 60px;
  height: 60px;
  margin-right: 1em;
}
.recent__panel__content__card__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}
.recent__panel__content__card__content__heading {
  width: 50%;
  margin-bottom: 1em;
  font-size: 12px;
  font-weight: bold;
}
.recent__panel__content__card__content__heading:nth-child(3) {
  margin-bottom: 0em;
}
.recent__panel__content__card__content__heading:nth-child(4) {
  margin-bottom: 0em;
}
.recent__panel__content__card__content__heading span {
  font-weight: normal;
}
.recent__panel__content__card:hover {
  transition: 300ms ease-in-out;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}
@media (max-width: 1440px) {
  .dashboard__container__col:nth-child(2) {
    margin-right: 0em;
  }
}
