@import "./global.scss";
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1em 2em;
  height: 70px;
}
.header__container__logo__svg {
  width: 130px;
}
.header__container__btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background-color: white;
  border: none;
  padding: 0em;
  position: relative;
  cursor: pointer;
}
.notification__panel {
  position: absolute;
  top: 50px;
  right: 0px;
  width: 400px;
  background-color: white;
  border-radius: 10px;
  z-index: 999;
  padding: 2em 1em;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  cursor: auto;
}
.notification__panel__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0em 1em;
}
.notification__panel__header__heading {
  font-size: 18px;
  color: black;
  font-weight: bold;
}
.notification__panel__header__btn {
  background-color: transparent;
  border: none;
  padding: 0em;
  cursor: pointer;
}
.notification__panel__header__btn:hover {
  text-decoration: underline;
}
.notification__panel__content {
  display: flex;
  flex-direction: column;
  height: 400px;
  overflow-y: auto;
  padding: 1em;
}
.notification__panel__content__entry {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1em;
  background-color: white;
  margin-bottom: 1em;
  cursor: pointer;
  border-radius: 5px;
}
.notification__panel__content__entry__heading {
  font-size: 14px;
  color: black;
  font-weight: bold;
  margin-bottom: 0.3em;
}
.notification__panel__content__entry__info {
  font-size: 12px;
  color: black;
  width: 100%;
  text-align: left;
}
.notification__panel__content__entry:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}
.header__container__btn:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}
